[Unit]
Description=WildlifeSystems Audio Runtime Script
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/ws-run-audio
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
