[Unit]
Description=WildlifeSystems Sensors Runtime Script
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/ws-run-sensors
StandardOutput=journal
StandardError=journal
