[Unit]
Description=WildlifeSystems Sensors Runtime Script
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/ws-run-sensors
StandardOutput=file:/var/log/ws-run-sensors.log
StandardError=file:/var/log/ws-run-sensors-error.log
