[Unit]
Description=Run WildlifeSystems sensor read script
Requires=ws-sensors.service

[Timer]
Unit=ws-sensors.service
OnCalendar=minutely
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
