[Unit]
Description=Run WildlifeSystems Upload Script
Requires=ws-upload.service

[Timer]
OnCalendar=minutely
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
