{
	"init": {
		"off": [
			"pwrled",
			"actled"
		],
		"on": [],
		"mode":"continuous"
	},
	"run": [{
		"0": {
			"action": "record",
			"duration": 5
		},
		"1": {
			"action": "sleep",
			"duration": 5
		},
		"2": {
			"action": "upload"
		}
	}]
}
