{
	"init": {
		"off": [
			"pwrled",
			"actled"
		],
		"on": [],
		"mode":"continuous"
	},
	"run": [{
			"action": "record",
			"duration": 5
		},
		{
			"action": "sleep",
			"duration": 5
		},
		{
			"action": "upload"
		}
	]
}
