[Unit]
Description=WildlifeSystems Runtime Script
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/ws-run-audio
StandardOutput=file:/var/log/ws-run-audio.log
StandardError=file:/var/log/ws-run-audio-error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target