Source: ws-node
Section: utils
Priority: optional
Standards-Version: 4.6.2
Build-Depends: debhelper-compat (= 13)
Maintainer: Ed Baker <ed@ebaker.me.uk>
Description: WildlifeSystems Audio Runner
 This package installs the ws-node software, which is used to manage
 audio, image, and sensor recording and uploads for WildlifeSystems.


Package: ws-node
Priority: optional
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, jq, sensor-control, sound-device-control, pi-pwr, pi-data
Description: WildlifeSystems Audio Runner
 This package installs the ws-node software, which is used to manage
 audio, image, and sensor recording and uploads for WildlifeSystems.
