Package: ws-node
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Ed Baker <ed@ebaker.me.uk>
Description: WildlifeSystems Audio Runner
 This package installs the ws-node software, which is used to manage audio, image, and sensor recording and uploads for WildlifeSystems.